* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #1b1b1b;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heading {
  font-size: 1.2rem;
  cursor: pointer;
}

.navbar {
  background-color: #242424;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 7rem;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
  text-decoration: none;
}

.nav-links a {
  text-decoration: none;
  color: inherit;
  opacity: 0.5;
  font-size: 0.9rem;
}

.nav-links a:hover,
.nav-links a.active {
  opacity: 1;
}

.search-bar,
.search-btn {
  border: none;
  font-size: 0.9rem;
  padding: 5px 7px;
  border-radius: 3px;
  color: #1b1b1b;
  font-family: inherit;
}

.search-btn {
  color: white;
  background-color: rgb(91, 90, 90);
  margin-left: 5px;
}

.movie-list {
  width: 90%;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-evenly;
}

.movie {
  width: 19%;
  margin-bottom: 20px;
}

.movie-img {
  width: 100%;
}

.movie-title {
  margin-top: 5px;
  text-align: center;
  font-size: 0.9rem;
}

.movie-rating {
  margin-top: 7px;
  text-align: center;
  font-size: 0.75rem;
  opacity: 0.6;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 2rem;
  font-size: 0.6rem;
}

.btn {
  border: none;
  font-size: 0.6rem;
  padding: 5px 7px;
  border-radius: 3px;
  color: #1b1b1b;
  background-color: rgb(91, 90, 90);
}

.movie-detail-container {
  width: 60%;
  margin: 1rem auto;
  background-color: #151313;
  padding: 20px;
  border-radius: 10px;
}

.movie-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-detail-container p {
  font-size: 0.9rem;
}

.backgroundimg {
  width: 20%;
  margin: 1rem 2rem;
}

.cast-detail-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}

.cast-detail {
  width: 15%;
  margin: 1rem 0;
  font-size: 0.9rem;
}

.cast-img {
  width: 100%;
}

.cast-heading {
  margin-left: 1rem;
}

@media (max-width: 800px) {
  .movie {
    width: 45%;
  }

  .navbar {
    padding: 1rem 3rem;
  }

  .nav-links {
    gap: 10px;
  }

  .movie-detail-container {
    width: 90%;
  }

  .cast-detail {
    width: 21%;
  }
}

@media (max-width: 480px) {
  .heading {
    margin-bottom: 1rem;
    text-align: center;
  }

  .navbar {
    display: block;
    padding: 1rem;
  }

  .nav-links {
    flex-direction: column;
  }

  .movie {
    width: 80%;
  }
}
